name: Checkout Example
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1
      - name: Show Listings
        run: ls -alhR
