name: Build Example

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install packages
        run: npm install

      - name: Run unit tests
        run: npm test

      - name: Make zip bundle
        run: zip -r app_bundle.zip . \
          -x "*.git*" \
          -x "*.github*" \
          -x "node_modules/.cache/*"
