name: Dependencies Example

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
            node-version: '20'
      - name: Install Packages
        run: npm install
            
      - name: Make zip
        run: zip -r app.zip . -x "*.git*" -x "*.github*" -x "node_modules/.cache/*"
